[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/iceberg.vim"]
	path = .vim/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule ".config/nvim/bundle/neobundle.vim"]
	path = .config/nvim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
